.header {
  padding: 25px 0;
  text-align: center;
  background: #222;
}
.header img {
  width: 100px;
  height: 13px;
}

.header-animation {
  animation: fade-in 3s ease-in-out both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
